# Permite reescribir las peticiones URL
RewriteEngine On

# Si el archivo y la carpeta no existen hacer siguiente reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecciona todas las peticiones a index.php
RewriteRule ^ index.php [QSA,L]